.btn-form {
  /* width: auto; */
  display: flex;
  /* padding-left: 1400px; */
}

.trans-box {
  display: flex;
  /* margin-left: 1300px; */
}

.trans-btn, .main-btn {
  width: 170px;
  height: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 2rem;
  background-color: white;
  color: rgba(96, 174, 231, 1);
  font-size: x-large;
  font-weight: 700;
  border: none;
  /* margin-top: 1em; */
  cursor: pointer;
  }
