.mypage-top-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding-bottom: 1em;
    border-bottom: solid 0.3em rgba(115, 188, 255, 1);
}

.mypage-title {
    font-size: xx-large;
    font-weight: bolder;
}

.mypage-bottom-items {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-top: 160px;

}

.mypage-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-btn {
    border: none;
    border-radius: 50em;
    width: 400px;
    height: 400px;
}

.profile-img {
    width: 300px;
}

.mypage-accounts {
    display: flex;
    flex-direction: column;
}

.mypage-accounts label {
    font-size: xx-large;
    font-weight: 700;                                      
    align-items: center;
}

.mypage-accounts input {
    border: none;
    border-radius: 0.5em;
    background-color: skyblue;
    width: 400px;
    height: 60px;
    margin-right: 1em;
}

.change {
    width: 90px;
    border: none;
    border-radius: 1em;
    background-color: skyblue;
    font-size: xx-large;
    font-weight: 700;
    cursor: pointer;
}